nav {
    height: 60px;
    background-color: var(--main-dark);
    width: 100%;
    display: flex;
	align-items: center;
	justify-content: space-between;
    color: white;
    padding: 0 30px;
    z-index: 10;
	position: fixed;
	top: 0;
}
nav img{
	opacity: 0;
	height: 30px;
	width: auto;
	animation: 700ms opacity-0-1 ease 500ms running both;
}
nav i{
	opacity: 0;
	animation: 1000ms opacity-0-1 ease 1000ms running both;
}
nav * {
   color: var(--main-red)!important;
}

.bottommenu {
	animation: 700ms opacity-0-1 ease 2000ms running both;
    height: 50px;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    z-index: 9;
}
nav .sidemenu{
	position: fixed;
	z-index: 10;
	top: 60px;
	left: 0;
	height: calc(100vh - 60px);
	width: 100%;
	background-color: var(--main-dark);
	animation: 700ms sidemenu-open ease 0s running both;
}
nav .sidemenu .content{
	
}
@media (max-width: 720px) {
	nav .sidemenu{
		display: block;
	}
}
@keyframes sidemenu-open{
	from{
		height: 0;
	}
	to{
		height: calc(100vh - 60px);
	}
}