.footer {
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 80px 0 40px;
    background-color: #232323;
    text-align: center;
}
.footer *, .links *{
    color: white;
}
.links li:first-child {
    border-left: none;
}

.links {
    background-color: #1f1f1f;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 100px 50px 100px 50px;
}

.links li {
    list-style: none;
    padding: 10px 70px;
    border-left: var(--main-dark) 4px solid;
    margin-bottom: 20px;
}

.footer img {
    width: 80%;
    max-width: 250px;
    margin: 0 auto;
}

.footer .row {
    padding: 30px 0;
}

.seperator {
    border-left: 1px solid black;
    margin: 0 10px;
}

@media (max-width: 720px) {
    .footer .seperator {
        display: none;
    }

    .links li:first-child {
        border-left: var(--main-dark) 4px solid;
    }
}