.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 80px 0;
    background-color: var(--gray-dark);
    text-align: center;
}
.footer *, .links *{
    color: white;
}
.links li:first-child {
    border-left: none;
}

.links {
    background-color: #292a30;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 50px 0;
}
.links-inner{
    max-width: 1024px;
    margin: 0 auto;
}

.footer img {
    width: 80%;
    max-width: 250px;
    margin: 0 auto;
}