nav {
    height: 85px;
    background-color: #121212;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 30px;
    z-index: 10;
    position: fixed;
    top: 0;
}
@media (max-width: 576px) {
    nav {
        height: 70px;
        position: relative;
        padding: 0 20px 0 20px;
    }
}
nav > .nav-links > a{
    margin: 0 15px;
    font-size: 140%;
    font-weight: bold;
    letter-spacing: 1.2px;
}
nav a{
    color: white !important;
}
nav i{
    margin: 0 20px ;
}
nav img {
    opacity: 0;
    height: 35px;
    width: auto;
    animation: 700ms opacity-0-1 ease 500ms running both;
}

@media (max-width: 576px) {
    nav i{
        margin: 0 10px;
    }
    nav img{
        height: 40px !important;
    }
}
nav .menu-button {
    opacity: 0;
    animation: 700ms opacity-0-1 ease 700ms running both;
}

nav .menu-button {
    color: var(--red) !important;
}

nav .sidenav {
    display: flex;
    flex-direction: row;
    visibility: hidden;
    position: fixed;
    z-index: 10;
    top: 85px;
    left: 0;
    width: 100%;
}
@media (max-width: 576px) {
    .sidenav{
        top: 69px !important;
    }
}
nav .sidenav .sidemenu-spacing {
    background-color: rgba(0, 0, 0, 0.31);
    height: 100%;
}

nav .sidemenu {
    height: 100%;
    color: white !important;
    padding: 20px 0;
    background-color: #121212;
}

nav .content li {
    font-size: 1.5em;
    padding: 20px;
    list-style-type: none;
    border-bottom: #6f6f6f solid 0.1px;
    margin: 0px 30px;
    width: calc(100% - 60px);
    text-align: center;
}

nav .content li:last-child {
    border-bottom: none !important;
}

nav .content hr {
    margin: 30px auto 40px;
    border-bottom: white solid 0.1px;
    width: calc(100% - 60px);
}

.sidemenu .sidemenu-close-btn {
    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    bottom: 70px;
    color: var(--green);
    transition-duration: 0.3s;
    transition-timing-function: ease;

}
.sidemenu .sidemenu-close-btn:hover {
    bottom: 75px;
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.12);
}
.sidemenu-body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

nav .sidemenu-open {
    animation: 500ms sidemenu-open ease 0s running forwards;
}

nav .sidemenu-close {
    animation: 500ms sidemenu-close ease 0ms running forwards;
}

nav .sidemenu-close .content {
    animation: 300ms opacity-1-0 ease 0ms running forwards;
}

nav .sidemenu-open .content li, nav .sidemenu-open .content hr, nav .sidemenu-open .content div {
    animation: 300ms opacity-0-1 ease-in 100ms running both;
}

nav .sidemenu-open .content #nav-link-1 {
    animation-delay: 100ms;
}

nav .sidemenu-open .content #nav-link-2 {
    animation-delay: 150ms;
}

nav .sidemenu-open .content #nav-link-3 {
    animation-delay: 200ms;
}

nav .sidemenu-open .content #nav-link-4 {
    animation-delay: 250ms;
}

nav .sidemenu-open .content #nav-link-5 {
    animation-delay: 300ms;
}

nav .sidemenu-open .content #nav-link-6 {
    animation-delay: 350ms;
}

@keyframes sidemenu-open {
    from {
        visibility: hidden;
        height: 0;
    }
    to {
        height: calc(100vh - 70px);
        visibility: visible;
    }
}

@keyframes sidemenu-close {
    from {
        visibility: visible;
        height: calc(100vh - 70px);
    }
    to {
        visibility: hidden;
        height: 0;
    }
}

header {
    animation: 700ms opacity-0-1 ease 700ms running both;
    background-color: white;
    padding: 5px 30px;
    height: 60px;
    position: fixed;
    top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 9;
}
@media (max-width: 576px) {
 header{
     position: sticky;
     top: 0;
 }
}
header span {
    font-size: 170%;
    font-weight: 600;
}
.bottommenu {
    animation: 700ms opacity-0-1 ease 700ms running both;
    height: 50px;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    /*visibility: hidden;*/
    align-items: stretch;
    justify-content: stretch;
    z-index: 11;

}
@media (max-width: 576px) {
    .bottommenu{
        visibility: visible;
    }
}

.bottommenu > a {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}