nav {
    height: 60px;
    background-color: var(--main-dark);
    width: 100%;
    display: flex;
	align-items: center;
	justify-content: space-between;
    color: white;
    padding: 0 30px;
    z-index: 10;
	position: fixed;
	top: 0;
}
nav img{
	opacity: 0;
	height: 30px;
	width: auto;
	animation: 700ms opacity-0-1 ease 500ms running both;
}

nav .menu-button {
	opacity: 0;
	animation: 1000ms opacity-0-1 ease 1000ms running both;
}

nav .menu-button {
   color: var(--main-red)!important;
}
.bottommenu {
	animation: 700ms opacity-0-1 ease 2000ms running both;
    height: 50px;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    z-index: 9;
}
nav .sidemenu{
    visibility: hidden;
	position: fixed;
	z-index: 10;
	top: 60px;
	left: 0;
	height: calc(100vh - 60px);
	width: 100%;
	background-color: var(--main-dark);
}

nav .open {
    animation: 700ms sidemenu-open ease 0s running both;
}

nav .close {
    animation: 700ms sidemenu-close ease 1000ms running forwards;
}

nav .open .content {
    animation: 1000ms opacity-0-1 ease 1000ms running both;
}
nav .sidemenu .content{
    margin-top: 50px;
}

nav .sidemenu li {
    font-size: 1.5em;
    padding: 20px;
    list-style-type: none;
    border-bottom: #6f6f6f solid 0.1px;
    margin: 0px 30px;
    width: calc(100% - 60px);
    text-align: center;
}

nav .sidemenu hr {
    margin: 100px auto 40px;
    border-bottom: white solid 0.1px;
    width: calc(100% - 60px);
}

@media (min-width: 720px) {
	nav .sidemenu{
        display: none;
	}
}
@keyframes sidemenu-open{
	from{
        visibility: visible;
		height: 0;
	}
	to{
		height: calc(100vh - 60px);
	}
}

@keyframes sidemenu-close {
    0% {
        height: calc(100vh - 60px);
    }
    100% {
        visibility: hidden;
        height: 0;
    }
}