
.product-outer {
    padding: 10px !important;

}
.product-outer a{
    color: black !important;
}
.product {
    border-radius: 1rem !important;
    -webkit-box-shadow: 10px 10px 45px -25px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 45px -25px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 45px -25px rgba(0, 0, 0, 0.2);
}

.product img {
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem 1rem 0 0 !important;
}

.card-body {
    padding: 0.5rem 1rem;
}

.card-img-top {
    border-radius: 1rem 1rem 0 0;
}