/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sarabun:500');
::-moz-selection {
    background-color: #8DB;
}

::selection {
    background-color: #8DB;
}
body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.row {
    margin: 0;
}

.green {
    color: var(--green);
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

main a {
    color: dodgerblue !important;
}

.fa, .fas, .fab {
    color: inherit;
    text-decoration: none !important;
}

.hover-red:hover {
    color: var(--red) !important;
}

.hover-green:hover {
    color: var(--green) !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4 {
    font-family: 'Sarabun', sans-serif;
    letter-spacing: 1.4px;
}
.display-1, .display-2, .display-3, .display-4{
    margin-bottom: 30px;
}
main {
    position: relative;
}

.main-header {
    position: relative !important;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 576px) {
    .main-header {
        margin: 0;
    }
    main {
        margin-top: 0 !important;
    }
}

.app section {
    max-width: 1024px !important;
    margin: 0 auto;
}
main section{
    padding: 60px 0;
    position: relative !important;
}
main .full-height-section {
    min-height: 100vh;
}

main article {
    /*animation: 700ms opacity-0-1 ease 1500ms running both;*/
    padding: 20px 30px 5px;

}
.freezePage{
    overflow: hidden !important;
    position: relative;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: scroll !important;
}
.img_container {
    position: relative;
}

/* Image im background*/
.back-img {
    background-size: cover;
    background-position: center;
}

.img-overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.img-overlay .content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.register-input {
    display: none;
}

.scrollup:hover, .scrolldown:hover {
    bottom: 25px;
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.12);
}

.scrolldown, .scrollup {
    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    bottom: 20px;
    transition-duration: 0.3s;
    transition-timing-function: ease;

}
.login-main{
     background: #ff6a79;
     background: -moz-linear-gradient(-45deg, #ff6a79 0%, #ff6a79 21%, #88ddbb 70%, #88ddbb 100%);
     background: -webkit-linear-gradient(-45deg, #ff6a79 0%, #ff6a79 21%, #88ddbb 70%, #88ddbb 100%);
     background: -o-linear-gradient(-45deg, #ff6a79 0%, #ff6a79 21%, #88ddbb 70%, #88ddbb 100%);
     background: -ms-linear-gradient(-45deg, #ff6a79 0%, #ff6a79 21%, #88ddbb 70%, #88ddbb 100%);
     background: linear-gradient(135deg, #ff6a79 0%, #ff6a79 21%, #88ddbb 70%, #88ddbb 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6a79', endColorstr='#88ddbb', GradientType=1);
 }
.form-outer-index{
    width: 100%;
    margin: 10px auto;
}
.form-outer-index > form > hr {
    margin: 30px auto;
    border: 5px var(--red);
}
.form-outer-modal {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.form-outer-index > form input {
    height: 55px;
    background-color: transparent;
    border-radius: 0;
    border: #f2f2f2 3.5px solid;
    margin-bottom: 20px;
    color: white !important;
}
.form-outer-index > form input:focus,.form-outer-index > form input:active{
    background-color: transparent!important;
    border: var(--green) 3.5px solid;
}
.form-outer-index form span, .form-outer-index form label {
    padding: 10px;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.form-outer form > .btn-login{
    height: 40px;
    width: 100%;
    border: none;
    margin: 10px auto;
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
}
.form-outer form{
    margin: 10px auto;
    width: 100%;
}

.form-outer form span, form label {
    margin: 5px;
    color: var(--gray-dark);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 85%;
}

.form-outer form > hr {
    margin: 30px auto;
}

.form-outer form input, .form-outer form select {
    height: 35px;
    border-radius: 0;
    border: #575757 1px solid;
    margin-bottom: 15px;
}
.form-outer > form input:focus,.form-outer > form input:active{
    border: var(--green) 1px solid;
}
 .input-wrong {
    border: var(--red) 1.5px solid !important;
    color: var(--red) !important;
}

.input-wrong-text {
    color: var(--red) !important;
}

@media (max-width: 720px) {
    .display-1, .display-2, .display-3, .display-4 {
        font-size: 3rem;
    }
}

@keyframes opacity-0-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacity-1-0 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.post-upload-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    background-color: rgba(108, 180, 149, 0.61);
    justify-content: center;
    justify-items: center;
    overflow: scroll;
    animation: 700ms opacity-0-1 ease running both;
}

.post-upload-modal > .post-upload-inner {
    width: 100%;
    max-width: 667px;
    min-height: 90vh;
    margin: 10vh auto 0 auto;
}
.post-upload-inner .post-upload-head{
    padding: 20px 30px;
    border-radius: 25px 25px 0 0;
    background-color: #f3f3f3;
}
.post-upload-body{
    padding: 20px 30px;
    background-color: white;
}
.contact-form .textarea{ min-height:220px; resize:none;}
.form-control{height:49px;}

/*Search*/
#search-box{
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: #f2f2f2;
    width: 100%;
    height: 110vh;
    padding: 100px 15px 0px;
}
#search-result{
    max-width: 1024px;
    margin: 0 auto;
}
#search-box #search-cancel{
    font-size: 120%;
}
@media (max-width: 576px) {
    #search-box{
        top: 69px !important;
    }
}
/*timeline*/
#timeline{
    padding: 0;
}
.thrift-it{
    position:relative;
    background-color: white;
    height: calc(100vh - 230px);
    margin: 40px auto 80px;
    border-radius: 20px;
    max-width: 400px;
}
.thrift-it > img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}
.thrift-it .thrift-it-footer{
    background-color: #f5f5f5;
    height: 20%;
    padding: 5px 20px;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.thrift-it .thrift-it-footer > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    height: 80%;
}
.btn_container .btnDislike {
    height: 100%;
    width: 50%;
    cursor: pointer;
    opacity: 0;
    border-radius: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_container .btnDislike:hover {
    opacity: 1;
    background: rgba(255,106,121,1);
    background: -moz-linear-gradient(left, rgba(255,106,121,1) 0%, rgba(255,106,121,0.7) 36%, rgba(255,106,121,0.55) 53%, rgba(255,106,121,0.16) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,106,121,1)), color-stop(36%, rgba(255,106,121,0.7)), color-stop(53%, rgba(255,106,121,0.55)), color-stop(100%, rgba(255,106,121,0.16)));
    background: -webkit-linear-gradient(left, rgba(255,106,121,1) 0%, rgba(255,106,121,0.7) 36%, rgba(255,106,121,0.55) 53%, rgba(255,106,121,0.16) 100%);
    background: -o-linear-gradient(left, rgba(255,106,121,1) 0%, rgba(255,106,121,0.7) 36%, rgba(255,106,121,0.55) 53%, rgba(255,106,121,0.16) 100%);
    background: -ms-linear-gradient(left, rgba(255,106,121,1) 0%, rgba(255,106,121,0.7) 36%, rgba(255,106,121,0.55) 53%, rgba(255,106,121,0.16) 100%);
    background: linear-gradient(to right, rgba(255,106,121,1) 0%, rgba(255,106,121,0.7) 36%, rgba(255,106,121,0.55) 53%, rgba(255,106,121,0.16) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6a79', endColorstr='#ff6a79', GradientType=1 );
}

.btn_container .btnLike {
    height: 100%;
    width: 50%;
    cursor: pointer;
    opacity: 0;
    border-radius: 0 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_container .btnLike:hover {
    opacity: 1;
    background: rgba(136,221,187,0.16);
    background: -moz-linear-gradient(left, rgba(136,221,187,0.16) 0%, rgba(136,221,187,0.94) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(136,221,187,0.16)), color-stop(100%, rgba(136,221,187,0.94)));
    background: -webkit-linear-gradient(left, rgba(136,221,187,0.16) 0%, rgba(136,221,187,0.94) 100%);
    background: -o-linear-gradient(left, rgba(136,221,187,0.16) 0%, rgba(136,221,187,0.94) 100%);
    background: -ms-linear-gradient(left, rgba(136,221,187,0.16) 0%, rgba(136,221,187,0.94) 100%);
    background: linear-gradient(to right, rgba(136,221,187,0.16) 0%, rgba(136,221,187,0.94) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88ddbb', endColorstr='#88ddbb', GradientType=1 );
}
.profile-img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
}