@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
::-moz-selection {
    background-color: #8DB;
}
::selection {
    background-color: #8DB;
}

:root {
    --main-red: #FF6A79; 
	--main-green: #8DB;
    --main-dark: #434343;
}
body {
    background-color: #f2f2f2;
}
.row {
    margin: 0;
}

.red {
    color: var(--main-red);
}

.green {
    color: var(--main-green);
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
.fa, .fas, .fab{
    color: inherit;
    text-decoration: none !important;
}
.hover-red:hover{
    color: var(--main-red) !important;
}
.hover-green:hover{
    color: var(--main-green) !important;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.display-1,.display-2,.display-3,.display-4{
	font-family: 'Montserrat', sans-serif;
}

main{
	margin-top: 60px;
	position: relative;
}
.main-header{
    position: relative !important;
    max-width: 1024px;
    margin: 120px auto 0;
    padding: 30px;
}

main section {
    position: relative !important;
    max-width: 1024px !important;
    margin: 0 auto;
}

main .full-height-section {
    min-height: 100vh;
}
main article {
	/*animation: 700ms opacity-0-1 ease 1500ms running both;*/
    padding: 20px 30px 5px;
	
}
.img_container {
    position: relative;
}

/* Image im background*/
.back-img{
	background-size: cover;background-position: center;
}
.img-overlay{
	z-index: 2;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
.img-overlay .content{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.register-input {
    display: none;
}
.scrollup:hover,.scrolldown:hover {
    bottom: 25px;
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.12);
}
.scrolldown,.scrollup  {
    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    bottom: 20px;
    transition-duration: 0.3s;
    transition-timing-function: ease;

}
.login{
    width: 100%;
    max-width: 500px;
}
.login form{
    margin: 10px auto;
    width: 100%;
}
.login form span{
    margin: 5px;
    color: var(--main-dark);
    letter-spacing: 1px;
    text-transform: uppercase ;
    font-weight: bold;
    font-size: 80%;
    font-family: 'Montserrat', sans-serif; "
}
.login form hr{
    margin: 30px auto;
}
.login form input{
    padding: 20px 10px;
    border-radius: 0;
    border: var(--main-dark) 1.5px solid;
    margin-bottom: 15px;
}


@media (max-width: 720px) {
    .display-1,.display-2,.display-3,.display-4{
        font-size: 2.5rem;
    }
}
@keyframes opacity-0-1{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes opacity-1-0{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

/*
.btn_container {
    position: absolute;
    top: 0;
}
.btn_container .btnDislike {
    height: 100%;
    width: 50%;
    cursor: pointer;
    opacity: 0;
}

.btn_container .btnDislike:hover {
    opacity: 0.6;
    background: rgb(255,0,0);
    background: linear-gradient(270deg, rgba(255,0,0,0.0920334719540028) 0%, rgba(255,0,0,1) 100%);
}

.btn_container .btnLike {
    height: 100%;
    width: 50%;
    background-color: #555;
    cursor: pointer;
    opacity: 0;
}

.btn_container .btnLike:hover {
    opacity: 0.8;
    background: rgb(0, 128, 0);
    background: linear-gradient(90deg, rgba(0, 128, 0, 0.0920334719540028) 0%, rgba(0, 128, 0, 1) 100%);
}
 */